
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTP_HOST} ^mendescavalcante\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mendescavalcante\.com\.br$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^index\.html$ "https\:\/\/www\.mendescavalcante\.com\.br\/" [R=301,L]
