<section class="section has-background-white-ter" id="contato">
    <div class="container">
        <h2 class="title ux-serifa has-text-centered">Em que podemos ajudar?</h2>
        <form class="ux-form">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <label class="label is-small">Nome*</label>
                        <div class="control has-icons-left">
                            <input class="ux-input input" id="nome" placeholder="Ex: João da Silva" name="nome" required="required" type="text">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label is-small">Email*</label>
                        <div class="control has-icons-left">
                            <input class="ux-input input" id="email" placeholder="Ex: email@email.com" name="email" required="required" type="text">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label is-small">Mensagem*</label>
                <div class="control">
                    <textarea class="textarea" rows="2" id="observacao" placeholder="Em que podemos ajudar?" name="observacao" required="required" type="text"></textarea>
                </div>
            </div>
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <input class="button input-contato" type="submit" value="Cadastrar"/>
                </div>
            </div>
        </form>
    </div>
</section>