<section class="section has-background-white" id="localizacao">
    <div class="container">
        <h2 class="title ux-serifa has-text-centered">Localização</h2>
        <div class="columns google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24588.732294168458!2d-46.78109094412703!3d-23.635266965896722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce577a059d73ff%3A0xa21094ae4bfd1293!2sMendes+Cavalcante+Solu%C3%A7%C3%B5es+Residenciais!5e0!3m2!1spt-BR!2sbr!4v1564458973306!5m2!1spt-BR!2sbr" 
                    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>