<section class="section has-background-white-ter" id="galeria">
    <div class="container">
        <h2 class="title ux-serifa has-text-centered">Galeria</h2>
        <div class="content">
            <div class="columns">
                <div class="column galeria-1">
                        
                        <h3>O desenho técnico deixa o projeto completo.</h3>
                        <h5>Aqui alguns exemplos que levaremos para obra, o que inclui:</h5>
                        <p>✔️ O layout cotado</p>
                        <p>✔️ Iluminação baseada no posicionamento da marcenaria e dos móveis</p>
                        <p>✔️ Paginação do piso, para um melhor aproveitamento do material</p>
                        <p>Imagens em 3D auxiliam na aprovação do projeto junto ao cliente e somado a um bom
                            gerenciamento se tornam essenciais.
                        </p>
                </div>
                <div class="column">
                    <!-- Slider main container -->
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide ">
                                <img class="imagem-principal" src="/img/galeria/plantas/layout-cotado.png" alt="Layout cotado.">
                            </div>
                            <div class="swiper-slide">
                                <img class="imagem-principal" src="/img/galeria/plantas/posicionamento-da-marcenaria-dos-moveis.png" alt="Iluminação é baseada no posicionamento da marcenaria e dos móveis">
                            </div>
                            <div class="swiper-slide">
                                <img class="imagem-principal" src="/img/galeria/plantas/paginacao-do-piso.png" alt="A paginação do piso, que é onde buscamos o melhor aproveitamentodo material.">
                            </div>
                        </div>
                    
                        <!-- If we need navigation buttons -->
                        <!-- <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div> -->
                    
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="columns">
                <div class="column galeria-mobile">
                    
                        <h3>Prezamos pelo melhor aproveitamento de espaço!</h3>
                        <h5>Um projeto de arquitetura não é luxo. Em se tratando de espaço com medidas reduzidas, torna-se essencial.</h5>
                        <p>✔️ Tudo para trazer a melhor sintonia e aconchego para o ambiente</p>
                        <p>✔️ Conforto totalmente sob medida para cada cantinho de sua casa</p>

                        <div class="content social-galeria">
                            <b><p>Confira mais de nossos trabalhos, nas nossas redes sociais:</p></b>
                            <div class="column social-media-galeria">
                                <div class="control">
                                    <a href="https://www.facebook.com/mc.solucoesresidenciais/" class="click-facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                </div>
                                <div class="control">
                                    <a href="https://www.instagram.com/mc.solucoesresidenciais/" class="click-instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="column">
                    <!-- Slider main container -->
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <img class="imagem-principal" src="/img/galeria/projetos/design-de-cozinha.jpg" alt="Design de cozinha, design de interiores.">
                            </div>
                            <div class="swiper-slide ">
                                <img class="imagem-principal" src="/img/galeria/projetos/design-de-interiores.jpg" alt="Design de interiores.">
                            </div>
                            <div class="swiper-slide">
                                <img class="imagem-principal" src="/img/galeria/projetos/design-de-interiores-quarto.jpg" alt="Design de interiores de quarto.">
                            </div>
                            <div class="swiper-slide">
                                <img class="imagem-principal" src="/img/galeria/projetos/design-de-interiores-sala.jpg" alt="Design de interiores de sala principal.">
                            </div>
                            <div class="swiper-slide">
                                <img class="imagem-principal" src="/img/galeria/projetos/design-externo.jpg" alt="Design de interiores de sala principal.">
                            </div>
                        </div>
                    
                        <!-- If we need navigation buttons -->
                        <!-- <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div> -->
                    
                    </div>
                    
                </div>
                <div class="column galeria-2">
                        
                        <h3>Prezamos pelo melhor aproveitamento de espaço!</h3>
                        <h5>Um projeto de arquitetura não é luxo. Em se tratando de espaço com medidas reduzidas, torna-se essencial.</h5>
                        <p>✔️ Tudo para trazer a melhor sintonia e aconchego para o ambiente</p>
                        <p>✔️ Conforto totalmente sob medida para cada cantinho de sua casa</p>

                        <div class="content social-galeria">
                            <b><p>Confira mais de nossos trabalhos, nas nossas redes sociais:</p></b>
                            <div class="column social-media-galeria">
                                <div class="control">
                                    <a href="https://www.facebook.com/mc.solucoesresidenciais/" class="click-facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                </div>
                                <div class="control">
                                    <a href="https://www.instagram.com/mc.solucoesresidenciais/" class="click-instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
    