<section class="section has-background-white is-medium parceiros" id="parceiros">
    <div class="container">
        <div class="content">
            <p class="title ux-serifa has-text-centered">Parceiros</p>
        </div>
        <div class="content parceiros-imagens">
            <div class="columns">
                <div class="column">
                    <a href="https://www.facebook.com/pecreformas/">
                        <img src="img/parceiros/pec.jpg" alt="PEC reformas">                    
                    </a>
                </div>
                <div class="column">
                    <a href="#">    
                        <img src="img/parceiros/dhm.jpg" alt="DHM mármores e granitos">
                    </a>
                </div>
                <div class="column">
                    <a href="http://www.engecubo.com.br/">    
                        <img src="img/parceiros/engecubo.jpg" alt="Engecubo Construtora">
                    </a>
                </div>
                <div class="column ">
                    <a href="https://www.portobello.com.br/">
                        <img src="img/parceiros/portobello.jpg" alt="Porcelanatos e revestimentos cerâmicos">
                    </a>
                </div>   
            </div>
        </div>
    </div>
</section>