<section class="section has-background-white is-medium quem-somos" id="sobre">
    <div class="container">
        <div class="content">
            <p class="title ux-serifa has-text-centered">Quem somos?</p>
            <p>Escritório criado pelo designer Gabriel Mendes e sócio Renato Cavalcante onde o foco é proporcionar a melhor experiência de obra ao cliente!</p>
            <p>Nossa equipe contém profissionais de arquitetura e engenharia com vasto conhecimento na área e prontos para gerir e dar todo suporte necessário para não haver problemas!</p>
            <p> A Mendes Cavalcante vai do macro ao micro, sendo uma empresa diferenciada por proporcionar tudo em um só lugar:</p>
        </div>
        <div class="content">
            <div class="columns">
                <div class="column sobre-icon">
                    <i class="fas fa-paint-roller"></i>
                    <p>Obras e reformas <br> com o máximo de excelência.</p>
                </div>

                <div class="column sobre-icon">
                    <i class="fas fa-home"></i>
                    <p>Soluções em Arquitetura e <br> Design de interiores</p>
                </div>
            </div>

            <div class="columns sobre-icon">
                <div class="column">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p>Preencha o formulário para <br><a href="#" class="orcamento" onclick="scrollto('home')"> Solicitar um orçamento</a></p>
                </div>
            </div>
        </div>
    </div>
</section>